body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h3{
    color: lightpink;
}
h4{
    color: #000;
}   
.work{
    text-align: center;
}
.name-heighlight{
    color: orange;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    height: 650px;
    margin-top: 0px;
}
.top-banner{
    background-image:url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg,#ff6600,blue);
    padding:10px 20px;
    border-radius:5px;
    color:white;
    font-weight: 700;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}
.latest img{
    width:25%;
    float: left;
    margin-left: 5%;
    height:100%px;
}
.my-work{
    background-image: url("images/latest.png");
    background-repeat: no-repeat;
    background-position: right;
}
#thanks{
    background-image: linear-gradient(#b3c6ff,#3366ff);
    color:white;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 5%;
    margin-top: 2%;
    scroll-margin-bottom: 2%;
}
.footer{
    background-image: url("images/biography-bg.png");
    background-position: right;
}

